/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  border: none;
  background: $accent;
  color: $bg;
  border-radius: $border-radius2;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: $fweight-bold;
  height: $element-height * (1 / 0.9);
  letter-spacing: $letter-spacing-alt;
  line-height: $element-height * (1 / 0.9);
  padding: 0 2.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: $transition;

  &:hover,
  &:active {
    background: lighten($accent, 8);
  }

  @include for-size(phone-only) {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 2.5rem;
    text-indent: 2.5rem;
  }
}
